{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 bg-secondary-subtle">
            <ul>
                {% for user in users %}
                <li>
                    <a href="/users/{{ user.id }}">
                        {% if user.image_url %}
                        <img src="{{ user.image_url }}" height="50px" />
                        {% else %}
                        <img
                            src="https://static.vecteezy.com/system/resources/thumbnails/002/534/006/small/social-media-chatting-online-blank-profile-picture-head-and-body-icon-people-standing-icon-grey-background-free-vector.jpg"
                            height="50px"
                        />
                        {% endif %} {{ user.first_name }} {{ user.last_name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <a href="/add-new-user">Add a New User</a>
        </div>
    </div>
</div>

{% endblock %}
